
body {
    font-family: 'Open Sans', sans-serif;
} 

.navbar {
    background: none;
  }
.navbar-brand {
    padding: 0;
    width: 35vw;
    float: left;
    padding-rigt: 50px;    
}

.carousel-inner img {
    height: 50em;
}

.logo { 
    height: 2vw;
    margin-bottom: 20px;
    }

 .logo img{
   
   width: 8%;
    fill: none;
 }

 .navbar ul{
    margin-left: 50%;
 }

section h2{
    text-align: center;
    color:white;
}

 .fondo{
    background-color: black;
 }
 
.color-fav{
    background-color: #0dcaf0;
}

section p {
    color:white;
}

.card-body {
    color:white;
    text-align: left;
}

.card img{
    height: 150px;
}

footer {
    color: white;
}

footer h3 {

    font-weight: bold;


}

 